{% extends 'common/templates/base_single.html' %}
{% block title %}
  Chào mừng
{% endblock %}

{% block content %}
<div class="body" id="welcome-start">
  <h2>Cảm ơn bạn đã gia nhập {{SITE_NAME}}!</h2>
  <ul>
    <li id="step-1">Thêm hình đại diện</li>
    <li id="step-2">Thay đổi ảnh nền/màu nền</li>
    <li id="step-3">Tìm kiếm bạn bè</li>
  </ul>
  <p>
    <big>
      <a style="-webkit-transition-duration: 0s;"
         href="/welcome/1?redirect_to={{redirect_to|urlencode}}">&#8250; Tiếp tục</a>
    </big>
  </p>
  <p class="clear">
    <small>hoặc  <a href="{{redirect_to}}">quay về trang chủ</a></small>
  </p>
</div>
{% endblock %}
