{% load avatar format %}
<div class="vcard" id="tooltip_{{actor.nick}}">
  {% linked_avatar actor "u,contact" request %}
</div>

<script type='text/javascript'>
  new Tip("tooltip_{{actor.nick}}", "Tên đầy đủ: {{actor.extra.full_name}}<br>" +
                                    "Trang cá nhân: <a href='{{actor.extra.homepage}}' target='_new'>{{actor.extra.homepage}}</a><br>", {
    title: "{{ actor.display_nick }}",
    stem: 'bottomRight',
    hideOn: false,
    hideAfter: 0.25,
    delay: 0.5,
    closeButton: true,
    hook: {target: 'topMiddle', tip: 'bottomRight'},
  });
</script>
  
  


