{% extends 'common/templates/base_wide.html' %}
{% load nonce avatar vcard format %}
{% block title %}Nhóm{% endblock %}

{% block content %} 
  {% if not request.mobile %}
    <p style="font-size: 4px;"></p>
    <div id="sidebar">
      <div class="tip">
        {{content|random_tips}}
      </div>
      
      {% include 'channel/templates/sidebar_ourpicks.html' %}
      {% include 'common/templates/sidebar_search.html' %}
    </div>
  {% else %}
    {% include 'channel/templates/sidebar_ourpicks.html' %}
  {% endif %}
  
  <div class="body">
    {% block channel_body %}{% endblock %}
  </div>
{% endblock %}
