{% extends 'flat/templates/help_base.html' %}

{% block help %}
<p>
    {{SITE_NAME}} IM, chương trình Instant Messaging của chúng tôi, cho phép bạn tương tác với {{SITE_NAME}} sử dụng XMPP based instant messaging client. Danh sách hỗ trợ bạn có thể xem tại .
</p>
<h2>Bạn được những gì?</h2>
<p>
    Bạn sẽ nhận được tất cả các tin mới, bình luận từ danh sách liên hệ của bạn, và bạn có thể gửi tin nhắn và bình luận ngay từ trình IM yêu thích của bạn.
</p>
<h2>Kích hoạt</h2>
<p>
Để bắt đầu, mở trình IM của bạn, thêm {{IM_BOT}} vào danh sách liên lạc. Sau đó, gửi tới {{IM_BOT}} một tin nhắn như sau (không bao gồm &lt; và &gt;): <strong>"SIGN IN &lt;Tên đăng nhập&gt; &lt;Mật khẩu&gt;"</strong>
</p>
<p>
    Sau khi lệnh trên được thực hiện thành công, bạn có thể bắt đầu nhận thông báo khi có tin/bình luận mới từ những người trong danh sách liên hệ của bạn. Nó thực sự rất đơn giản! 
</p>
<!--
<h2>Communicating with the bot</h2>
<p>
    If you want to stop receiving notifications, you can simply send 'STOP' via IM, and we'll stop.
</p>
<p>
    To post to your stream, you just type in your message and hit Send.  You'll get a notification (kinda like an echo) of your post, just so you know it's gone through as it should. 
</p>
<p>
    To comment on a post (or a comment), use the @ symbol to direct your comment to a user (example: "@lordi Rock on!") Doing this will add your comment to the most recent thread that person participated in.
</p>
<p>
    If you want to add a new contact, you can FOLLOW [contact]  ( e.g. "FOLLOW jyri").  If you want to remove a contact, you can LEAVE [contact].
</p>
<p>
    Similarly, you can join and leave our channels - with JOIN or LEAVE (e.g. "JOIN #squid").  You can also post to channels by prefixing your message with #channelname ( e.g. "#squid Fresh squid fried with lime juice and garlic, served on a bed of crispy noodles = YUMMY!")
</p>
-->
<ul>
    <li><a href="/help/clients">Danh sách các trình IM Client hỗ trợ</a></li>
    <li><a href="/help/commands">List of SMS and IM commands</a></li>
    <li><a href="/settings/im">Set your IM address</a></li>
    <li><a href="/settings/notifications"> Notification options</a></li>
</ul>
{% endblock %}
