{% extends 'channel/templates/channel_base.html' %}

{% block bodytag %}{{block.super}} {% endblock %}

{% block title %}Giới thiệu{% endblock %}

{% block logo %}
<a href="/" id="logo">
  <img src="/themes/{{DEFAULT_THEME|urlencode}}/logo.png" width="89" height="73" alt="{{SITE_NAME}}" />
</a>
{% endblock %}

{% block content %}
    <div id="intro">
      <h1>{{SITE_NAME}} </h1>
      <h3>Informal Learning Network</h3>
      <ul>
<!--          <li id="ninedot">-->
<!--              <h3>&nbsp;&nbsp;&nbsp;Sự đơn giản...</h3>-->
<!--              <p>&nbsp;&nbsp;&nbsp;&nbsp;Hãy thử giải bài toán sau: Cho 9 điểm -->
<!--              như hình vẽ bên trái, hãy nối tất cả chúng bằng một đường liền nét, -->
<!--              sao cho tổng số đoạn thẳng phải sử dụng là ít nhất... </p>-->
<!--              <p>&nbsp;&nbsp;&nbsp;&nbsp;...bạn có thể nối 9 điểm đó với 3 đoạn -->
<!--              thẳng liên tiếp nhau không? Đôi khi, chúng ta suy nghĩ mọi chuyện -->
<!--              theo những lối mòn và đóng khung suy nghĩ trong một cái hộp vô hình...</p>-->
<!--          </li>-->
          <li id="follow">
              <h3>&nbsp;&nbsp;&nbsp;Kết nối và chia sẻ</h3>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;Nền tảng inforlearn giúp cho bạn có thể
              kết nối đến những người có chung mối quan tâm với bạn về các nguồn 
              kiến thức.</p>
          </li>
          <li id="create">
              <h3>&nbsp;&nbsp;&nbsp;Trao đổi, thảo luận</h3>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;Việc thảo luận và chia sẻ sẽ chưa bao giờ
              dễ dàng đến vậy :).</p>
          </li>
<!--          <li id="create">-->
<!--              <h3>&nbsp;&nbsp;&nbsp;Cập nhật, tổng hợp k</h3>-->
<!--              <p>&nbsp;&nbsp;&nbsp;&nbsp;Kiến thức mới, tin tức mới luôn được chuyển đến tài khoản của bạn theo thời gian thực.-->
<!--              dễ dàng đến vậy :).</p>-->
<!--          </li>-->
          <li id="more">
              <h3><a href="/tour">&#8250; Giới thiệu</a></h3>
          </li>
      </ul>
    </div>

<ul>
{% for entry in recent_entries %}
  <li><a href="{{ entry.url }}">{{ entry.url }}</a></li>
{% endfor %}
</ul>
{% endblock %}

{% block sidebar %}
  {% include 'front/templates/sidebar_joinnow.html' %}
  {% include 'front/templates/sidebar_featured_channels.html' %}
  {% include 'front/templates/sidebar_featured_members.html' %}
{% endblock %}
