{% extends 'common/templates/base_sidebar.html' %}

{% block bodytag %}{{block.super}} {% endblock %}

{% block title %}Giới thiệu{% endblock %}

{% block logo %}
<a href="/" id="logo">
  <img src="/themes/{{DEFAULT_THEME|urlencode}}/logo.png" width="89" height="73" alt="{{SITE_NAME}}" />
</a>
{% endblock %}

{% block content %}
    <div class="main" style="padding: 7px 15px 1px;">
      <h1 style="font: normal normal normal 280%/100% 'Lucida Grande'; width:300px;">{{SITE_NAME}} </h1>
      <h3 style="color: white; width:300px;">share.discuss.learn.make it simple.</h3>
        <h3 style="width: 80px; float: right; margin-top: -30px;"><a href="/tour">&#8250; Giới thiệu</a></h3>
    </div>
    <div id="intro">
      <ul>
          <li id="more">
            <h3 ><a href="/join">&#8250; Tạo tài khoản mới</a></h3>
            
          </li>
      </ul>
    </div>
    <div class="front-groups">
    {% with channels as channel_tiles %}
      {% include 'channel/templates/channel_tiles.html' %}
    {% endwith %}
    </div>
<ul>
{% for entry in recent_entries %}
  <li><a href="{{ entry.url }}">{{ entry.url }}</a></li>
{% endfor %}
</ul>
{% endblock %}

{% block sidebar %}
  {% include 'front/templates/sidebar_joinnow.html' %}
{% endblock %}
